body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: url("./assets/bcg.jpg");
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 34px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  height: 100%;
  width: 100%;

  & .item {
    // display: flex;
    // height: 100%;
    // align-items: center;
    // justify-items: center;
    // flex-direction: column;
    display: grid;
    place-items: center;
    padding-right: 50px;
    padding-left: 50px;
    // transform: scale(0.5);
    background-position: 0px 0px;

    &:hover {
      --background: url("./assets/1.jpg");
      background-size: cover;
      background-image: var(--background);
      transition: 0.7s all ease-in-out;
      transform: scale(1.1);
      // background-position: -50px 0px;
    }
  }

  & .item1:hover {
    --background: url("./assets/1.jpg");
  }

  & .item2:hover {
    --background: url("./assets/2.jpg");
  }

  & .item3:hover {
    --background: url("./assets/3.jpg");
  }

  & .item4:hover {
    --background: url("./assets/4.jpg");
  }
}

.button {
  color: black;
  background-color: #fff;
  width: 200px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  padding: 5px;
  font-weight: 700;
  font-size: 34px;
}

.text {
  padding-bottom: 20px;
  color: #fff;
}
